@import "tailwindcss";
@plugin "daisyui";

/* 
:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    font-family: var(--font-roboto), sans-serif;
}

.gradient-bg {
    background: #a4bbf5;
    background: radial-gradient(circle, rgba(164, 187, 245, 1) 17%, rgba(184, 159, 252, 1) 50%, rgba(226, 237, 180, 1) 75%, rgba(227, 157, 221, 1) 93%);
}

.font-dmserif {
    font-family: var(--font-dmserif), serif;
}

.font-teko {
    font-family: var(--font-teko), serif;
}