@import "tailwindcss";
@plugin "daisyui";

/* 
:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    font-family: var(--font-roboto), sans-serif;
}

.font-dmserif {
    font-family: var(--font-dmserif), serif;
}

.font-teko {
    font-family: var(--font-teko), serif;
}

