@import "tailwindcss";
@plugin "daisyui";


body {
    font-family: var(--font-roboto), sans-serif;
}

.font-dmserif {
    font-family: var(--font-dmserif), serif;
}

.font-teko {
    font-family: var(--font-teko), serif;
}

.font-caprasimo {
    font-family: var(--font-caprasimo), serif;
}